@charset "UTF-8";

@font-face {
    font-family: Coraline font;
    src: url('../fonts/CoralineCat.ttf');
}
@font-face {
    font-family: GrandCru;
    src: url('../fonts/GrandCru-LightS.otf');
}

body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-color: #a5d3f7;
}

p{
    font-family: 'GrandCru';
    text-align: justify;
    font-size: 2.5vh;
}

html p{
    margin: 5% 10% auto 10%;
}

.header{
    display:flex;
    flex-direction: row;
    height: 20%;
    justify-content: flex-end;
}

.headerImage{
    height: 60%;
    margin-top: 3%;
    margin-right: 10%;
}

.indexContent{
    display: flex;
    height: 80%;
    margin-top: -5%;
}

.indexLeftContent{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 50%;
    margin-left: 10%; 
}
.indexMenuNav{
    display:flex;
    flex-direction: column;
    align-self: center;
}
.leftImage{
    align-self: center;
    height: 30%;
    margin: auto;
}
.rightImage{
    margin: auto;
    height: 60%;
}

a:link{
    text-decoration: none;
}

.indexButton{
    font-family: 'Coraline font';
    font-size: 3vh;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    color: #13284a;
    margin: 0vh 2vh 2vw 2vw;
}

.indexButton:hover{
    color: #395476;
}

.headerMenu{
    height: 100%;
    width: 60%;
    margin: auto;
    margin-left: 10%;
}

.title{
    font-family: 'Coraline font';
    font-size: min(5vh,4vw);
    height: 60%;
    margin: 0;
    /*margin-top: 1%;*/
    padding: 1% 0% 0% 2%;
    /*margin-left: 2.5%;*/
    background: rgb(135,196,247);
    background: linear-gradient(180deg, rgba(135,196,247,1) 0%, rgba(137,197,247,1) 20%, rgba(165,211,247,1) 80%);
    border-radius: 20px;
}

.contentMenuNav{
    display:flex;
    flex-direction: row;
    height: 40%;
    justify-content: center;
    align-items: center;
}

.contentButton{
    color: #13284a;
    font-family: 'Coraline font';
    font-size: 2vh;
    text-align: center;
    font-style: normal;
    font-weight: normal;

    border-left: 1px dotted #000;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: 100%;
}

.contentButton:hover{
    background-color: #97C0E3;
    /*color: #97C0E3;*/
}
.contentInitialButton{
    border-left: 0px solid #000;
}
.contentSelectedButton{
    /*border-bottom:1px solid #000;*/
    background-color: #87c4f7;
    color: #87c4f7;
    display: none;
}

.contentButton img{
    height: 90%;
}

.contentBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 2% 10%;
    /*background-color: #f1f;*/
}

.contentBox > *{
    width: 48%;
    /*background-color: #162;*/
    margin: 0;
    padding: 0;
    object-fit: contain;
}

.contentBox img{
    border-radius: 0.5vw;
}

.contentBox > div{
    border: solid;
    padding: 1%;
}

.centerFlex{
    justify-content: space-around;
}

.characterImage{
    width: 39%;
    border-radius: 10px;
}

.sceneImage{
    width: 80%;
    border-radius: 10px;
}

.characterList{
    border-style: double;
    display: inline-flex;
    margin: 1% auto 0 15%;
}
.characterList a{
    margin-right: 2%;
}
.phrase{
    font-family: 'Coraline Font';
    font-style: italic;
    margin-left: 15%;
}

.infoText{
    margin: 0 15% 0 10%;
    font-size: 3vh;
}
.externalLink{
    font-size: 3.5vh;
    padding: 1%;
    margin-left: 1%;
    border-style: double;
}
.longImage{
    width: 60%;
}

.references h3{
    margin-left: 1%;
    margin-bottom: 0;
}

.references p{
    margin-left: 2%;
    margin-top: 0;
}

.references{
    width: 44%;
}

#btn-menu{
    display: none;
    background-color: #fff;
}

label img{
    display: none;
    width: 100%;
    cursor: pointer;
}

.mapContent{
    display: flex;
    flex-direction: row;
    width: 85%;
    margin-left: 10%;
    border: 3px solid blue;
}

.mapContainer{
    width: 70%; 
    border: 3px solid green;
}

.mapImage{
    max-width: 100%;
    max-height: 100%;
}

.infoCard{
    display: flex;
    flex-direction: column;
    width: 30%;
    z-index: 15;
    margin-right: auto;
    border: 3px solid red;   
}

.infoCard > img{
    width: 100%;
}

@media only screen and (max-width: 1200px) {
    body{
        /*background-color: #6f3;*/
    }
    .title{
        font-size: 2.7vw;
        height: auto;
    }
    .headerImage{
        /*background-color: #f1f;*/
    }
    .contentButton{
        font-size: min(2vh,1vw);
    }
}

@media only screen and (max-width: 800px) {
    body{
        /*background-color: #ff0f0f;*/
    }
    .header{
        justify-content: space-around;
        align-items: center;
        /*background-color: #f0f;*/
    }
    .header *{
        margin: 0;
        padding: 0;
        /*background-color: #0ff;*/
    }
    .contentMenuNav{
        background: rgba(0.5, 0.5, 1, 0.2);
        display: flex;
        position: fixed;
        z-index: 30;
        height: 50vh;
        width: 30vw;
        padding: 2vw 3vw;
        flex-direction: column;
        margin-top: 10vh;
        margin-left: -250vw;
        border-radius: 2vW;
        transition: margin-left 0.5s;

    }

    #btn-menu:checked ~ * .contentMenuNav{
        margin-left: -15vw;
        /*background-color: #fff;*/
    }

    .contentButton{
        background-color: #90b8d9;
        font-size: 2vh;
        border: none;
        width: 100%;
        margin: 2%;
        border-radius: 1vw;
    }
    .contentButton img{
        height: 8vw;
    }
    label img{
        height: 8vw;
        width: auto;
        max-height: 2%;
        display: flex;
        /*background-color: #f00;*/
    }
    .title, .headerMenu{
        font-size: min(4vw,5vh);
        width: 45vw;
        height: auto;
        max-height: 98vh;
    }
    .headerImage{
        width: 25vw;
        /*margin-right: 2vw;*/
    }

    .contentBox *{
        width: 100%;
        /*background-color: #162;*/
        margin: 0;
        padding: 0;
    }
    .contentBox>p{
        order: -1;
    }
    .contentBox>h2{
        order: -2;
    }
}